/* Imports */

@import url(https://fonts.google.com/specimen/Quicksand?query=qui);

/* Generales*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
.logo{
    display: none;
}
.navbar{
    grid-area: nav;
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: rgb(174, 195, 188);
    text-transform: uppercase;
    flex-direction: column;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-family: "Quicksand";
}
.navbar a:hover{
    color: black;
}
.navbar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.navbar ul li{
    padding: 1em;
}
.toggle-menu{
    width: 40px;
    position: absolute;
    top: .5rem;
    right: 1.5rem;
    cursor: pointer;
    filter: invert(1);
}

/* Footer */

footer{
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100%;
    background-color: #76a09b;
    height: 4em;
    font-size: 1em;
    color: white;
}
footer img{
    width: 1.5em;
    margin: .1em;
}
.redesTwitter{
    margin-right: .4em;
}
.whatsapp{
    margin-left: .4em;
}

/* Media query */

@media(min-width: 768px) {
    .navbar ul{
        flex-direction: row;
        list-style: none;
    }
    .toggle-menu{
        display: none;
    }
    .logo{
        display: flex;
        margin-left: 1em;
    }
    .navbar{
        justify-content: space-between;
        flex-direction: row;
    }
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        color: black;
    }
    .headerProduct{
        height: 6em;
        text-transform: uppercase;
    }
    .asideI{
        flex-direction: column;
    }
}

/* Index*/

.contenedor{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-template-areas: "nav    nav    nav    nav"
                         "header header header header"
                         "main   main   main   main"
                         "aside  aside  aside  aside"
                         "secti  secti  secti  secti"
                         "footer footer footer footer";
    background-color: #d6ddd8;
}

/* Header Index */

.headerI{
    grid-area: header;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: .6em;
    font-size: 1.7em;
    background-color: rgb(152, 152, 114);
    width: 100%;
    color: white;
    font-style: italic;
    height: 8.5rem;
    box-shadow: -1px 0px .1em .1em rgba(128, 122, 122, 0.274);
}
.headerI p{
    padding-top: .5em;
}

/* Main Index */

.mainI{
    grid-area: main;
    display: flex;
    justify-content: center;
}
.productosI{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.productosOcultos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media(min-width: 1370px){
    .productosOcultos{
        display: none; 
    }
}

/* Aside index */

.asideI{
    grid-area: aside;
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.btnVerMas{
    transition: all 1s;
    border: none;
    color: white;
    padding: .5em 2em;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    background-color: rgb(165, 165, 145);
}
.btnVerMas:hover{
    background-color: #302e2ed7;
    box-shadow: 0px 15px 20px rgb(165, 165, 145, .4);
    color: white;
}
.contactanosIndex{
    grid-area: secti;
    display: flex;
    justify-content: center;
    width: 100%;
}

/*  Contactos*/

.contContact{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-template-areas: "nav    nav    nav    nav"
                         "main   main   main   main"
                         "footer footer footer footer";
    background-color: #d6ddd8;
}
/* Contactos Main */

.mainContact{
    display: flex;
    grid-area: main;
}

/* Contactos Form */

.form{
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;
    width: 90%;
    max-width: 60em;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px 10px rgba(139, 136, 136, 0.527); 
    background-color: rgb(180, 180, 143);
    margin-top: 3em;
    margin-bottom: 3em;
}
.formTitle{
    font-size: 2em;
    color: white;
    margin-bottom: .5em;
    font-family: "Quicksand";
    font-weight: 600;
    text-transform: uppercase;
}
.formContainer{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}
.formGroup{
    position: relative;
}
.formInput{
    width: 100%;
    border: none;
    background: none;
    font-size: 1em;
    padding: .6em .3em;
    outline: none;
    border-bottom: 1px solid #706c6c;
    font-family: "Quicksand";
}
.formInput:focus + .formLabel,
.formInput:not(:placeholder-shown) + .formLabel{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #b3aaaa;
}
.formLabel{
    color: #706c6c; 
    cursor: pointer;
    position: absolute;
    top: 0%;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}
.span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #504d4d;
    transform: scale(0);
    transform: left bottom;
}
form button{
    background: rgb(131, 131, 102);
    font-family: "Quicksand", sans-serif;
    color: white;
    font-weight: 300;
    font-size: 1em;
    padding: .8em 4em;
    border: none;
    border-radius: .5em;
}

/* Productos */

.contProdu{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-template-areas: "nav    nav    nav    nav"
                         "header header header header"
                         "main  main   main   main"
                         "aside aside  aside  aside"
                         "footer footer footer footer";
    background-color: #d6ddd8;
}

/* Productos Header */

.headerProduct{
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    color: white;
    background-color: rgb(152, 152, 114);
    text-transform: uppercase;
}

/* Productos Main */

.mainProduct{
    grid-area: main;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.producto{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    border: solid 1px rgb(136, 136, 99);
    justify-content: center;
    align-items: center;
    width: 18.2em;
    padding: 1em;
    max-height: 450px;
    height: 100%;
    margin: 1.8em;
    border-radius: 5%;
    color: white;
    background-color: rgb(152, 152, 114);
    text-transform: uppercase;
    box-shadow: -7px 5px .1em .1em rgba(128, 122, 122, 0.274);
}
.producto:nth-child(7){
    margin-bottom: 11.5em;
}
.producto label{
    font-size: 1.1em;
}
.producto img{
    width: 19rem;
    border: solid 1px;
    max-height: 300px;
    height: 100%;
}
.producto label{
    margin-bottom: 1em;
}
.producto a{
    display: flex;
    justify-content: center;
    transition: all .5s;
    margin-top: .4em;
    padding: .4em;
    width: 8em;
    font-size: 18px;
}
.producto a:hover{
    transform: translateY(-3px);

}

/* Productos Aside */

.asideProductos{
    grid-area: aside;
    display: flex;
}

/* Ubicacion */

.contSucu{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-template-areas: "nav    nav    nav    nav"
                         "header header header header"
                         "main   main   main   main"
                         "footer footer footer footer";
    background-color: #d6ddd8;
}

/* Ubicacion Header */

.headerSucu{
    grid-area: header;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgb(152, 152, 114);
    padding-top: 1em;
}

/* Ubicacion Main */

.mainSucu{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.2em;
    color: white;
    background-color: rgb(152, 152, 114);
    padding: .6em;
    padding-bottom: 3.5em;
}
.iframe{
    box-shadow: -7px 5px .3em .3em rgba(128, 122, 122, 0.274);
}
.mainSucu p{
    padding-bottom: 1em;
}

/* Ubicacion Aside */

.asideSucu{
    grid-area: aside;
    
}

/* Nosotros */

.contNos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-template-areas: "nav    nav    nav    nav"
                         "header header header header"
                         "main   main   main   main"
                         "footer footer footer footer";
    background-color: #d6ddd8;
}

/* Nosotros Header */

.headerNos{
    grid-area: header;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: rgb(152, 152, 114);
    color: white;
    height: 10em;
}
.inicioNos{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}
.inicioNos h2{
    font-size: 3em;
}

